*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background-color: rgb(51, 51, 51);
}


.container{
    max-width: 980px;
    margin: 0 auto;
}

.main-content{
    text-align: center;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 42px;
    color: wheat;
}

.mail-list{
    color: white;
    margin-top: 50px;
    max-width: fit-content;
    text-align: start;
}

.mail-list li{
    margin: 13px 0;
    border-bottom: 1px dotted;
    list-style: decimal;
}