*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(51, 51, 51);
}


.container{
    max-width: 980px;
    margin: 0 auto;
}

.main-content{
    text-align: center;
    margin: 50px auto;
}

.title{
    font-size: 32px;
}